services:
  hydrox:
    build: .
    container_name: hydrox
    ports:
      - "8000:8000"
    volumes:
      - hydrox_data:/data
      - ./.git:/.git:ro
      - ./logs:/logs
      - /home/pi/.local/bin:/host-bin:ro
      - /home/pi/.local/share/pipx/venvs/liquidctl:/host-liquidctl-venv:ro
      - /sys/devices/platform/cooling_fan:/sys/devices/platform/cooling_fan:ro
      - /sys/class/hwmon:/sys/class/hwmon:ro
    devices:
      - /dev/vcio:/dev/vcio
    environment:
      - HYDROX_DB_PATH=/data/hydrox.db
      - HYDROX_GIT_DIR=/.git
      - HYDROX_LIQUIDCTL_PATH=/host-liquidctl-venv/bin/liquidctl
      - HYDROX_LOG_PATH=/logs/hydrox.log
      - TZ=America/Chicago
      - PUID=1000
      - PGID=1003
    user: "1000:1003"

volumes:
  hydrox_data:
