services:
  hydrox:
    build: .
    container_name: hydrox
    ports:
      - "8000:8000"
    volumes:
      - hydrox_data:/data
      - ./.git:/.git:ro
    devices:
      - /dev/vcio:/dev/vcio
      - /dev/vchiq:/dev/vchiq
    environment:
      - HYDROX_DB_PATH=/data/hydrox.db
      - HYDROX_GIT_DIR=/.git

volumes:
  hydrox_data:
